*{
    margin: 0;
    padding:0;
}
.nav{
    background-color: rgb(15, 14, 14);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    .para{
        background-color: orange;
    }

}
#child{
    display: flex;
    width: 300px;
    justify-content: space-between;
}
@media(max-width:450px){
.nav{
    height: auto;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: space-between; */
    /* border-bottom: 2px solid red; */
}
.nav a{
    border-bottom: 2px solid wheat;
    display: inline-block;
    width: 450px;
    text-align: center;
    /* border-width: 450px; */
}
#child{
display: flex;
flex-direction: column;
align-items: center;
}
span {
padding: 10px 0;
border-bottom: 2px solid wheat;
display: inline-block;
width: 450px;
text-align: center;
}
}


/* * {
    margin: 0;
    padding: 0;
}

nav {
    background-color: rgb(15, 14, 14);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding: 0 20px;
}
nav ul {
    width: 300px;
    display: flex;
    justify-content: space-between;
}
li{
    list-style: none;
}
li a{
    text-decoration: none;
    color: white;
}
nav {
    display: flex;
    justify-content: space-between;
}
.contain{
    height: 430px;
    display: flex;
   padding: 30px;
}
.para1 {
    width: 500px;
}

.para2 {
    
}

footer {
    background-color: rgb(15, 14, 14);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    /* position: absolute; */
    /* bottom: 0; */
/* }  */